.option-ans {
    padding: 3px;
    border: 1px solid;
    margin: 10px 0;
}

.option-ans label {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}
.option-ans label:hover{
    color: rgb(7, 171, 2);
}